$boardWigth: 450px;
$boardHeight: 450px;


body {
  margin: 0;
  background-color: #e6e6e6;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 25px;
  cursor: url(../cursors/Cursor-PNG-Image-99791-blue.png), auto;
}// main

.board {
  display: flex;
  flex-wrap: wrap;
  width: $boardWigth;
  height: $boardHeight;
  border: 3px solid #663300;
  border-right: 1px solid #663300;
  border-radius: 5px;
  .cell {
    outline: none;
    box-sizing: border-box;
    width: $boardWigth / 9;
    height: $boardHeight / 9;
    border: 1px solid #000000;
    background-color: #e6e6e6;
    color: transparent;
    text-shadow: 0 0 0 #2196f3;    
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    cursor: inherit;
    transition: .4s;
    &:nth-of-type(3n){
      border-right: 3px solid #663300;
    }
    &.border-bottom {
      border-bottom: 3px solid #663300;
    }
    &:hover {
      border: 3px solid #248f8f;
      border-radius: 5px;
    }
    &:disabled {
      background-color: #cccccc;
      outline: none;    
      text-shadow: 0 0 0 #2196f3;   
    }
  }// .cell
  .background-row-column {
    background-color: #ffcc66;
    &:disabled {
      background-color: #ffcc66;        
    }
  }// .background-row-column
  .color-identic-numbers {
    color: #ff531a;
  }// .color-identic-numbers
}// .board

.ctrl-btn {
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #fff;
  border-color: #2196F3;
  color: #2196F3;
  width: 100px;
  height: 40px;
  font-size: 16px;
  cursor: inherit;
  outline: none;
  transition: .3s ease-out;
  &:hover:not(:disabled) {
    background-color: #2196F3;
    color: #fff;
  }// .ctrl-btn:hover
  &:disabled {
    opacity: .5;
  } // .ctrl-btn:disabled   
}// .ctrl-btn


.controls {
  height: $boardHeight;
  padding-left: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;   
}// .controls

.timer {
  width: 100%;
  text-align: center;
  min-height: 25px;
  padding: 5px;
  span {
    font-size: 19px;
    font-weight: 600;
    font-family: sans-serif;
    color: #2196f3;
    width: 100%;
    text-align: center;
  }
}// .timer

.new-game-btn:hover,
.restart-btn:hover {
  color: red;
}// .nwgm:hover, .rstrt:hover

.undo-redo-btns {
  height: $boardHeight / 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}// .undo-redo-btns

.difficulty-container {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;  
  .radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: inherit;
    font-size: 18px;     
    input {
      position: absolute;
      opacity: 0;
      cursor: inherit;        
    }// input
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 50%;
      &:after {
        content: "";
        position: absolute;
        display: none;          
      }// .checkmark  
    }// .checkmark
  }// .check-container
  .radio-container{
    &:hover input ~ .checkmark {
      background-color: #ccc;
    }
    input:checked ~ .checkmark {
      background-color: #2196f3;
    }
    input:checked ~ .checkmark:after {
      display: block;
    }
    .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }// .checkmark:after
  }// .check-container
}// difficulty

.message {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.7);
  .message-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5cb85c;
    margin: auto;
    padding: 0;
    border: 1px solid #fff;
    border-radius: 10px;
    max-width: 500px;
    height: 200px;
    -webkit-animation-name: messageAnimate;
    -webkit-animation-duration: 1s;
    animation-name: messageAnimate;
    animation-duration: 1s;      
    h1 {
      background-color: #fff;
      margin: 0;
      width: 100%;
      padding: 20px 0 20px;
      text-align: center;
      font-family: sans-serif;
    }// h1      
  }// .message-content 
  .warning {
    background-color: #ff0000;
  }// warning    
}// .message

.active {
  display: block;
}// .active





@-webkit-keyframes messageAnimate {
  from {top:-400px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes messageAnimate {
  from {top:-400px; opacity:0}
  to {top:0; opacity:1}
}

@media only screen and (max-width: 600px) {
  $boardHeight: 270px;
  $boardWigth: 270px;   
  .board {
    width: $boardWigth;
    height: $boardHeight;
    .cell {    
      width: $boardWigth / 9;
      height: $boardHeight / 9;
      font-size: 24px;
    }//  .cell
  }// .board
  .controls {
    height: 200px;
    width: $boardWigth;
    flex-direction: row;
    flex-wrap: wrap;
  }// .controls
  .undo-redo-btns {
    height: 50px;
    width: $boardWigth;
    flex-direction: row;
  }// .undo-redo-btns
}// @media only screen and (max-width: 600px) 