body {
  margin: 0;
  background-color: #e6e6e6;
}

main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 450px;
  height: 450px;
  border: 3px solid #663300;
  border-right: 1px solid #663300;
  border-radius: 5px;
}

.board .cell {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 1px solid #000000;
  background-color: #e6e6e6;
  color: transparent;
  text-shadow: 0 0 0 #2196f3;
  cursor: none;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.board .cell:nth-of-type(3n) {
  border-right: 3px solid #663300;
}

.board .cell.border-bottom {
  border-bottom: 3px solid #663300;
}

.board .cell:hover {
  border: 3px solid #248f8f;
  border-radius: 5px;
}

.board .cell:disabled {
  background-color: #cccccc;
  outline: none;
  text-shadow: 0 0 0 #2196f3;
}

.ctrl-btn {
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #fff;
  border-color: #2196F3;
  color: #2196F3;
  padding: 14px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.ctrl-btn:hover {
  background-color: #2196F3;
  color: #fff;
}

.next-prev-container {
  width: 100px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  width: 450px;
}

.controls .nwgm:hover,
.controls .rstrt:hover {
  color: red;
}

#difficulty {
  width: 130px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#difficulty .radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
}

#difficulty .radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

#difficulty .radio-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

#difficulty .radio-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#difficulty .radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

#difficulty .radio-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

#difficulty .radio-container input:checked ~ .checkmark:after {
  display: block;
}

#difficulty .radio-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.message {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.message .message-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5cb85c;
  margin: auto;
  padding: 0;
  border: 1px solid #fff;
  border-radius: 10px;
  max-width: 500px;
  height: 200px;
  -webkit-animation-name: messageAnimate;
  -webkit-animation-duration: 1s;
  animation-name: messageAnimate;
  animation-duration: 1s;
}

.message .message-content h1 {
  background-color: #fff;
  margin: 0;
  width: 100%;
  padding: 20px 0 20px;
  text-align: center;
  font-family: sans-serif;
}

.message .warning {
  background-color: #ff0000;
}

.active {
  display: block;
}

@-webkit-keyframes messageAnimate {
  from {
    top: -400px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes messageAnimate {
  from {
    top: -400px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */