$boardWigth: 450px;
$boardHeight: 450px;
$colors: (
  bodyBg: #334d4d,
  blackC : #000,
  whiteC : #e6e6e6,
  greyC : #cccc,
  border : #663300,
  mark : #ffcc66,
  markNum : #ff531a,
  numbers : #2196f3,
  messageErr : #ff0000,
  messageCorrect: #5cb85c
);